<!DOCTYPE html>
<html>
<head>
    <title>Tabelog Stores</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <style>
       
        header {
            text-align: center;
            margin-top: 10px;
        }

        .button-group {
            display: flex;
            justify-content: center;
            gap: 10px; 
            margin-top: 10px;
        }

        #store-list {
            margin-top: 20px;
            text-align: center;
        }

       
        button {
            margin: 5px;
        }
    </style>
    <script>
        $(document).ready(function() {
            $("#score-4").click(function() {
                getStoresByRating(4);
            });

            $("#score-3").click(function() {
                getStoresByRating(3);
            });

            $("#score-2").click(function() {
                getStoresByRating(2);
            });

            function getStoresByRating(rating) {
                $.get(`/get_stores_by_rating/${rating}/`, function(data) {
                    var parsedData = data;
                    console.log(parsedData);
                    $('#store-list').empty();
                    parsedData.forEach(function(store) {
                        $('#store-list').append(`<p>${store.store_name} - Score: ${store.score}</p>`);
                    });
                });
            }
        });
    </script>
</head>
<body>
    <h1>Tabelog Stores</h1>
    <button id="score-4">별점 4점대</button>
    <button id="score-3">별점 3점대</button>
    <div id="store-list">
        <!-- 가게 목록을 표시할 위치 -->
    </div>
</body>
</html>
