<!DOCTYPE html>
<html>
<head>
    <title>Tabelog Stores</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#score-4").click(function() {
                getStoresByRating(4);
            });

            $("#score-3").click(function() {
                getStoresByRating(3);
            });

            $("#score-2").click(function() {
                getStoresByRating(2);
            });

            function getStoresByRating(rating) {
                $.get(`/get_stores_by_rating/${rating}/`, function(data) {
                    var parsedData = data;
                    console.log(parsedData);
                    $('#store-list').empty();
                    parsedData.forEach(function(store) {
                        $('#store-list').append(`<p>${store.store_name} - Score: ${store.score}</p>`);
                    });
                });
            }
        });
    </script>
</head>
<body>
     <h1>Tabelog Stores</h1>
    <select id="station-select">
        <option value="新宿">新宿</option>
        <option value="新大久保">新大久保</option>
        <option value="荻窪">荻窪</option>
        <option value="品川">品川</option>
    </select>
    <button id="search-button">검색</button>
    <div id="store-list">
        <!-- 가게 목록을 표시할 위치 -->
    </div>
</body>
</html>
